<?php
namespace Popov\ZfcDataGrid;

return [
    'service_listener_options' => [
        // Grid Data Grid Service Manager
        [
            'service_manager' => 'DataGridPluginManager',
            'config_key' => 'data_grid_plugins',
            'interface' => \Popov\ZfcDataGrid\Service\Plugin\DataGridPluginProviderInterface::class,
            'method' => 'getDataGridPluginConfig',
        ],
    ],
    'service_manager' => [
        'factories' => [
            'DataGridPluginManager' => \Popov\ZfcDataGrid\Service\Plugin\DataGridPluginFactory::class,
        ],
    ],
];